@import '../Style/_variables.scss';

.tabs {
  position: relative;


  &:after {
    position: absolute;
    display: inline-block;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: $grey-light;
  }
}

.tabsContainer {
  display: flex;

  > div {
    padding: 10px;
    margin-right: 10px;
    background-color: $grey;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.classTab_1 {

}
