$trans: 200px;
$rotateFull: 180deg;
$rotateHalf: 90deg;

$color-front: rgb(6, 141, 180);
$color-back: rgb(88, 147, 214);
$color-left: rgb(72, 199, 166);
$color-right: rgb(10, 201, 227);
$color-top: rgb(2, 250, 168);
$color-bottom: rgb(141, 241, 136);
$grey: rgb(245, 245, 245);

.mainDiv {
   width: 400px;
   height: 400px;
   margin: 200px auto;
   perspective: 800px;
}

.boxDivAnimation {
  transform-origin: center;
  transform: rotateY(360deg) rotateX(45deg);
}

.boxDiv {
  width: 400px;
  transition-property: transform;
  transition-duration: 15s;
  transition-timing-function: linear;
  transform-style: preserve-3d;

  > div {
    position: absolute;
    width: 400px;
    height: 400px;
  }
}

.front {
  background: $color-front;
  transform: translateZ($trans);
}

.back {
  background: $color-back;
  transform: rotateY($rotateFull) translateZ($trans);
}

.left {
  background: $color-left;
  transform-origin: left;
  transform: rotateY(-$rotateHalf) translateX(-$trans);
}

.right {
  background: $color-right;
  transform-origin: right;
  transform: rotateY($rotateHalf) translateX($trans);
}

.top {
  background: $color-top;
  transform-origin: top;
  transform: rotateX(-$rotateHalf) translateY(-$trans);
}

.bottom {
  background: $color-bottom;
  transform-origin: bottom;
  transform: rotateX($rotateHalf) translateY($trans);
}
